body {
  background: #9e9e9e;
  font-family: "Montserrat";
  font-weight: 100;
  text-align: center;
}
h1 {
  /* font-family: 'Dancing Script' ; */
  font-family: "Dancing Script";
  font-weight: bolder;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  color: #fef5ed;
}
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.2rem;
}
hr {
  display: block;
  background-image: linear-gradient(to right, #fef5ed, #393e46, #fef5ed);
  border: 0px;
  height: 1px;
  width: 80%;
  text-align: center;
  margin: 5% auto;
}
.navbar {
  color: #fef5ed;
  font-size: 1rem;
  font-weight: 500;
  background-color: #303030;
  font-family: "Roboto", sans-serif;
}
.lead {
  font-style: italic;
  font-size: small;
}
/* .container {
  padding-left: 5%;
  padding-right: 5%;
} */
#header {
  /* background: #061f34; */
  padding-top: 0px;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 5% 0;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
#header p,
h1 {
  font-size: 1.5rem;
  color: #eeeeee;
}
#header .hello {
  /* font-family: "Dancing Script"; */
  font-weight: bolder;
  /* font-weight: 500; */
  font-size: 3rem;
  line-height: 1.5;
  color: #303030;
  padding-top: 5%;
}
.welcome {
  color: #eeeeee;
}
.mr-auto {
  padding-right: auto;
}

.container {
  font-size: smaller;
}

.underline {
  font-weight: bold;
  text-decoration: underline;
  color: #ffc107;
}
.title1 {
  color: #eee;
}

.img {
  width: 80%;
  margin: 10%;
}

#pages h5 {
  font-size: medium;
}
#pages .container {
  font-size: smaller;
  padding: 20px;
  color: #303030;
}
/* #pages .container p, h5{
  /* color: #EEEEEE; */
/* } */
/* #pages .container h2{ */
/* color: #ECB365; */
/* } */
#pages .container .decor {
  display: block;
  color: #00adb5;
  font-style: italic;
}
#pages .container a {
  color: #00adb5;
  font-style: italic;
}

.skills h2 {
  font-size: 3rem;
  display: block;
  color: #ecb365;
}
.skills h3 {
  display: block;
}
.skills .ability-score {
  float: right;
  color: #ecb365;
}
.skills li {
  list-style-type: none;
  margin-bottom: 10px;
}

.separator {
  padding: 10px;
}

/* .skills ul > li {
  min-height: 30px;
  padding: 3px 0px;
} */
.skills ul > li:hover {
  background: #c9d1d3;
}
.skills ul > li .ability-title {
  display: inline-block;
  width: 60%;
}
.skills ul > li .ability-score {
  float: right;
}
.skills ul > li .ability-score .far {
  color: #c9d1d3;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.skills ul > li .ability-score .fas {
  /* color: #C9D1D3; */

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* .skills ul > li .ability-score .far {
  color: #0f4c81;
} */

.skills ul > li:hover .ability-score i {
  margin-left: 3px;
}

.skills hr {
  background-color: #eeeeee;
}

.course {
  align-items: center;
  padding: 10px;
}
.course-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.btn-twitter,
.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:visited {
  background-color: #00acee !important;
  color: white;
}

.btn-whatsapp,
.btn-whatsapp:hover,
.btn-whatsapp:active,
.btn-whatsapp:visited {
  background-color: #25d366 !important;
  color: white;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:visited {
  background-color: #1778f2 !important;
  color: white;
}

.btn-linkedin,
.btn-linkedin:hover,
.btn-linkedin:active,
.btn-linkedin:visited {
  background-color: #1778f2 !important;
  color: white;
}
.btn {
  margin: 5px;
}
#contact {
  background-color: #303030;
}
#contact hr {
  background-color: white;
}

#contact .buttons_p {
  padding-left: 20%;
  padding-right: 20%;
}

#title {
  background-color: #222831;
  padding: 5%;
}
.name1 {
  font-family: "Dancing Script";
  font-weight: bolder;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fef5ed;
}
.first-img {
  width: 40%;
}

.pro2 {
  color: #fef5ed;
  font-weight: 600;
}
.pro {
  text-decoration: underline;
  color: #00adb5;
}
#profile {
  padding: 5% 10%;
}
.profile-h {
  color: #00adb5;
}

#education {
  /* background-color: #393e46; */
  color: white;
}
.experience {
  margin-bottom: 20px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.ed-div {
  padding: 5%;
}

.icon {
  color: #1b2a49;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #465881;
}
.container-fluid {
  padding: 0;
}
.feature-box {
  text-align: center;
  padding: 3%;
}

#features {
  padding: 0% 15% 5%;
}

#testimonials {
  padding: 7% 15%;
  background-color: #393e46;
  color: #eee;
  text-align: center;
}
.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  padding-bottom: 3%;
  background-color: #465881;
  text-align: center;
}
.pressl {
  width: 15%;
  margin: 20px 20px;
}

#pricing {
  padding: 10%;
  text-align: center;
}
.pcol {
  padding: 3%;
}

.paper-shadow {
  position: relative;
  background: #eeeeee;
  width: 80%;
  margin: 50px auto;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  height: auto;
}
.paper-shadow:after,
.paper-shadow:before {
  content: "";
  position: absolute;
  left: auto;
  background: none;
  z-index: -1;
}
.paper-shadow:after {
  width: 90%;
  height: 10px;
  top: 30px;
  right: 8px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px -20px 36px 5px #295d92;
  -moz-box-shadow: 0px -20px 36px 5px #295d92;
  box-shadow: 0px -25px 35px 0px rgba(0, 0, 0, 0.5);
}

.paper-shadow:before {
  width: 10px;
  height: 95%;
  top: 5px;
  right: 18px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 20px 0px 25px 5px #295d92;
  -moz-box-shadow: 20px 0px 25px 5px #295d92;
  box-shadow: 22px 0px 35px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    font-size: smaller;
  }
  .course {
    align-items: center;
    padding: 0 0 20px;
  }
  #header {
    margin: 0;
  }
  #header .hello {
    /* font-family: "Dancing Script"; */
    font-weight: bolder;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
  }
  #header p {
    font-size: 1.2rem;
  }
  #header h1 {
    font-size: 1.4rem;
  }
  h5,
  strong {
    font-size: small;
  }
  #profile .img {
    width: 20%;
    margin: 10%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
}
