body{
    font-family: 'Montserrat';
    font-weight: 100;
    

}
h1 {  
    font-family: 'Montserrat' ;
    font-weight:bolder;
    font-weight: 900;
    font-size: 3rem;  
    line-height: 1.5;
    color:white;
}
h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2rem;
}

#title {
    background-color:lightpink;


}
.first{
    padding: 2% 7%;
}
.icon {
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: lightpink;
}
.container-fluid{
    padding: 3% 10%;
}
.feature-box {
    text-align: center;
    padding: 3%;
}

#features{
    padding: 7% 15%;

}
.navbar{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;

}

#testimonials{
    padding: 7% 15%;
    background-color: lightpink;
    color:white;
    text-align: center;

    
}
.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    padding-bottom: 3%;
    background-color: lightpink;
    text-align: center;
    
}
.pressl{
    width: 15%;
    margin: 20px 20px ;
}
