body{
  background-color: #EEEEEE ;
  margin: 0;
}

h1{
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-size: 350%;
  text-align: center;

}
h2{
  margin:auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
  color: #00ADB5;
  font-weight: normal;
}
h3{
  margin-top: 0;
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 0;
}
hr{
  display: block;
  background-image: linear-gradient(to right, #FEF5ED, #393E46, #FEF5ED);
  border: 0px;
  height: 1px;
  width: 50%;
  text-align: center;
  margin: 100px auto;

}
p{
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}
a{
  color: #00ADB5;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EEEEEE;
}
.p2{
  color: #EEEEEE;
  padding: 20px 0;
  font-size: 0.75em;
}
.hello{
  text-align: center;
}
.st{
  width: 80%;
  margin: 5px auto 5px auto;

}
.topdiv{
  background-color: #222831;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.second-div{

  background-color: #393E46;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FEF5ED;
  line-height: 2;

}
.psecond{
  width: 80% ;
  text-align: center;
}

.pro{
  text-decoration: underline;
}
.first{
  color: #EEEEEE;
  margin-top: 0;
  margin-bottom: 0%;
}
.second{
  font-family: 'Lobster', cursive;
}
.skill-row{
  width: 50% ;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 0

}


#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; }


.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.other-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.third-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.top-img{
  width: 10%;
  float: none;
  margin-top: 20px;
  text-align: center;

}
.contact-me{
  width: 40%;
  margin: 50px auto 60px;
    text-align: center;
}
.bottom-container{
  background-color: #222831;
  text-align: center;
  padding: 30px 0 10px ;
}

.btn {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #04898F);
  background-image: -moz-linear-gradient(top, #00ADB5, #04898F);
  background-image: -ms-linear-gradient(top, #00ADB5, #04898F);
  background-image: -o-linear-gradient(top, #00ADB5, #04898F);
  background-image: -webkit-gradient(to bottom, #00ADB5, #04898F);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

   color: #FFFFFF;
   font-family: 'Roboto', sans-serif;
   padding: 10px;

   -webkit-box-shadow: 0 1px 10px 0 #000000;
   -moz-box-shadow: 0 1px 10px 0 #000000;
   box-shadow: 0 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #04898F 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
  border: solid #04898F 1px;
  background: #04898F;
  background-image: -webkit-linear-gradient(top, #04898F, #00ADB5);
  background-image: -moz-linear-gradient(top, #04898F, #00ADB5);
  background-image: -ms-linear-gradient(top, #04898F, #00ADB5);
  background-image: -o-linear-gradient(top, #04898F, #00ADB5);
  background-image: -webkit-gradient(to bottom, #04898F, #00ADB5);
   text-decoration: none;
}
