html {
  /* background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
  background: linear-gradient(to top left, #28b487, #7dd56f);
  min-height: 100%;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #13832d;
  text-align: center;
}
.itemsBox {
  text-align: center;
}

.item {
  /* min-height: 70px; */
  /* height: 100%; */
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.item:hover {
  background-color: #f1f1f1;
}
.checked {
  text-decoration: line-through;
  text-decoration-color: #13832d;
}

/* .item:last-child {
  border-bottom: 0;
} */

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #13832d;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #13832d;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.addButton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #13832d;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 6px; */
  border-width: 0;
}
.addButton:hover {
  background-color: #169533;
}

.deleteAll {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  /* height: 50px; */

  /* background: white; */
  border-radius: 5px;
  /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); */
}
.deleteAllButton {
  background-color: #13832d;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  max-width: 400px;
  min-height: 50px;
  width: 100%;
  /* margin: 50px auto; */
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.deleteAllButton:hover {
  background-color: #169533;
}
